* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-left: 10px;
}

#logo {
    max-height: 45px; 
    margin-top: 55px;
    margin-left: 5px;
}

#head-of-page {
    background-image: url(../img/pattern.png);
    background-size: 400px; /* Using percentage makes the image change as the screen dimension changes  */
    background-color: rgb(99, 158, 248);  
    background-position: calc(100% - 186px) 0px;
    height: 105px; 
    
    
} 

#title-and-pics {
     margin-left: 5px;
}

#title {
    max-width: 1000px;
}

#Main-title {
    font-size: 40px;
    margin-top: 15px;
}

address {
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 15px;
    color: grey;
}

.links {
    text-decoration: none;
    color: rgb(119, 191, 232);
    font-family: Arial, Helvetica, sans-serif;
}

#pics-footer {
    font-size: 11px;
}

#list {
    padding-left: 14px;
}

.paragr {
    margin-top: 15px;
    margin-bottom: 15px;
}